@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary-dark: #2c3e50;
  --primary-red: #ff5757;
  --primary-brown: #8b5a2b;
  --primary-yellow: #ffde59;
  --primary-blue: #4fa6d6;
  --primary-green: #70c170;
}

@layer base {
  body {
    @apply font-[Poppins];
  }

  li {
    @apply p-10;
  }

  h1 {
    @apply font-[Bangers] text-6xl lg:text-7xl;
  }

  h2 {
    @apply font-[Bangers] text-5xl md:text-6xl;
  }
  .nav-bar {
    @apply hover:underline decoration-4 decoration-[var(--primary-blue)] underline-offset-8;
  }
}
